mixin stylesheet_link_tag(src)
  link(rel='stylesheet' href=`/stylesheets/${src}.css`)

// 2nd argument is the "Rest argument" in pug  
mixin javascript_include_tag(src, ...rest)  
  script(type='text/javascript' src=`/javascripts/${src}.js`)
  each file in rest
    script(type='text/javascript' src=`/javascripts/${file}.js`)